<p>
  <strong>{{id}}.</strong> {{burger_name}}

  {{#if devoured}}
    <br>
    <button class="change-devoured btn btn-outline-danger btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}"><strong>DEVOUR 😛</strong></button>
  {{/if}}
</p>
